body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3 h4,
h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
